stages:
 - build

Ubuntu-master:
 stage: build
 script:
  - date
  - hostname
  - uname -a
  - export CMAKE_EXTRA_TARGETS="doxygen"
  - export BUILD_GENERATOR="Ninja"
  - export DEPLOY_DOC_REPO="git@github.com:gmrvvis/gmrvvis.github.io"
  - export GITHUB_MIRROR_URL="git@github.com:gmrvvis/ReTo"
  - bash .gitlabci.sh
 only:
  - master
 tags:
  - ubuntu

Ubuntu:
 stage: build
 script:
  - date
  - hostname
  - uname -a
  # - export CMAKE_EXTRA_TARGETS="test"
  - export BUILD_GENERATOR="Ninja"
  - bash .gitlabci.sh
 except:
  - master
 tags:
  - ubuntu

OSX:
 stage: build
 script:
  - date
  - hostname
  - uname -a
  # - export CMAKE_EXTRA_TARGETS="test"
  - export CMAKE_EXTRA_ARGS=-DGLUT_glut_LIBRARY=/usr/local/Cellar/freeglut/3.0.0/lib/libglut.dylib
  - export BUILD_GENERATOR="Ninja"
  - bash .gitlabci.sh
 tags:
  - osx-sierra

Win7:
 stage: build
 script:
  - call %ENVFILESDIR%\Boost-1.56-vs12-x64.bat
  - call %ENVFILESDIR%\eigen-3.1.2-vs12-x64.bat
  # - set CMAKE_EXTRA_TARGETS=RUN_TESTS
  # - set RUN_TESTS=1
  - set CMAKE_EXTRA_ARGS=-DGLEW_INCLUDE_DIR=c:\libs\glew-1.11.0\include -DGLEW_LIBRARY=c:\libs\glew-1.11.0\lib\Release/x64/glew32.lib -DGLUT_glut_LIBRARY=c:\libs\freeglut\lib\x64\freeglut.lib -DGLUT_INCLUDE_DIR=c:\libs\freeglut\include
  - set BUILD_GENERATOR=Visual Studio 12 Win64
  - set PATH=%PATH%;"c:\\Program Files\\Git\\bin"
  - bash.exe --login .gitlabci.sh
 tags:
  - win7
